@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}

body {
  color: #323338;
  background-color: #fcfdfc;
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 16px;
}

section {
  width: 100%;
}

.japanese-heading {
  color: #323338;
  font-family: 'Montserrat';
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.japanese-block {
  border: 1px solid rgb(236, 240, 243);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  transition: all 0.2s;
}

.japanese-block:hover {
  box-shadow: 0px 1px 20px 0px rgba(81, 100, 112, 0.14);
}

.japanese-center {
  text-align: center;
  margin-top: 32px;
}

/* Мобильное меню */

.hamburger,
.hamburger:hover,
.hamburger:focus {
  background-color: transparent;
  margin: 0;
  outline: 0;
}

.hamburger:after {
  height: 4px;
  background: #323338;
  -webkit-box-shadow: 0 8px 0 #323338, 0 16px 0 #323338;
  box-shadow: 0 8px 0 #323338, 0 16px 0 #323338;
}

.close-button {
  position: static;
  width: 20px;
  height: 20px;
}

.close-button__icon {
  display: block;
  height: 100%;
  background-image: url(../img/icon-close.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.japanese-menu-mobile {
  padding: 0;
  border: 0;
  outline: 0;
  border-radius: 0;
}

.japanese-menu-mobile__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 20px;
  border: 1px solid #e4eaed;
  background-color: #f3f6f8;
}

.japanese-menu-mobile__title {
  font-size: 16px;
  font-weight: 700;
  color: #323338;
}

.japanese-menu-mobile .japanese-header-menu {
  display: flex;
}

.japanese-menu-mobile .japanese-header-menu__item .japanese-header-menu__link {
  padding: 19px 22px;
  font-size: 14px;
}

.japanese-menu-mobile .japanese-header-menu__item .menu {
  width: 100%;
  padding: 22px 44px;
  flex-wrap: nowrap;
  flex-direction: column;
  background-color: #fff;
}

.japanese-menu-mobile .japanese-header-menu__item .menu .japanese-header-menu__link {
  padding: 7px 0;
}

.japanese-menu-mobile .japanese-header-menu__item .menu {
  position: relative;
  box-shadow: none;
}

.japanese-menu-mobile .japanese-header-menu__item .menu:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 5%;
  display: block;
  width: 90%;
  height: 1px;
  background-color: #e4eaed;
}

.japanese-menu-mobile .is-accordion-submenu-parent[aria-expanded="false"] > .japanese-header-menu__link:after {
  content: '\203A';
  position: absolute;
  right: 23px;
  color: #9baeb8;
  font-size: 25px;
  transform: rotate(90deg);
  transition: transform 0.4s;
}

.japanese-menu-mobile .is-accordion-submenu-parent[aria-expanded="true"] > .japanese-header-menu__link:after {
  content: '\203A';
  position: absolute;
  right: 27px;
  color: #db001b;
  font-size: 25px;
  transform: rotate(-90deg);
  transition: transform 0.4s;
}

.japanese-menu-mobile .japanese-header-main-contacts {
  padding: 32px 0 32px 45px;
}

.japanese-menu-mobile .japanese-header-main-contacts:before {
  left: 15px;
  top: 50%;
  transform: translateY(-100%);
}

/* Меню в хэдере */
.japanese-header-menu__background {
  background-color: #f3f6f8;
  border: 2px solid #e4eaed;
}

.japanese-header-menu {
  display: inline-flex;
  min-height: 52px;
  font-size: 12px;
  align-items: stretch;
}

.japanese-header-menu__item {
  transition: all 0.2s;
}

.japanese-header-menu__item:hover {
  background-color: rgb(243, 246, 248);
  box-shadow: inset 0px 0px 10px 0px rgba(192, 203, 209, 0.45);
}

.japanese-header-menu__wrapper,
.japanese-header-menu__wrapper .japanese-header-menu {
  padding: 0;
  background-color: inherit;
}

.japanese-header-menu__item .menu {
  padding: 0;
  transform: translateY(3px);
}

.japanese-header-menu__item .menu > li {
  font-size: 14px;
}

.japanese-header-menu__item .menu {
  border: 0;
  box-shadow: 0px 1px 10px 0px rgba(81, 100, 112, 0.14);
}

.japanese-header-menu__item .menu .japanese-header-menu__link {
  background-color: #fff;
  justify-content: flex-start;
  padding: 7px 16px;
  transition: all 0.2s;
}

.dropdown.menu > li.is-active > a,
.japanese-header-menu__item .japanese-header-menu__link:not(.japanese-header-menu__link--login):hover {
  color: #db001b;
}

.japanese-header-menu__item--border {
  align-self: stretch;
  border-left: 2px solid #e4eaed;
  border-right: 2px solid #e4eaed;
}

.japanese-header-menu .japanese-header-menu__link {
  height: 100%;
  padding: 17px 9px;
  border: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  color: #404040;
  font-size: inherit;
}

.japanese-header-menu__link:before {
  display: block;
  margin-right: 5px;
}

.japanese-header-menu__link.japanese-header-menu__link--region {
  padding: 15px 10px;
  background-image: url(../img/icon-arrow.png);
  background-position: 100% center;
  background-size: 10px 6px;
  font-size: 14px;
}

.japanese-header-menu__link--delivery:before {
  content: url(../img/icon-delivery.svg);
}

.japanese-header-menu__link--tech:before {
  content: url(../img/icon-tech.svg);
}

.japanese-header-menu__link--faq:before {
  content: url(../img/icon-faq.svg);
}

.japanese-header-menu__link--contacts:before {
  content: url(../img/icon-contacts.svg);
}

.japanese-header-menu__link--sign-up:before {
  content: url(../img/icon-sign-up.svg);
}

.japanese-header-menu__link--sign-in:before {
  content: url(../img/icon-sign-in.svg);
}

.japanese-header-menu__link.japanese-header-menu__link--login {
  font-size: 14px;
  color: #fff;
  background-color: #db001b;
  box-shadow: 0px 2px 0px 0px #db001b,
  0px -2px 0px 0px #db001b;
}

/* Логотип, контакты и корзина */

.japanese-header-main {
  padding: 20px 0;
}

.japanese-header-main-contacts {
  position: relative;
  padding-left: 10px;
}

.japanese-header-main-contacts:before {
  content: url(../img/icon-phone.svg);
  position: absolute;
  left: -20px;
  top: 16px;
}

.japanese-header-main-contacts__phone {
  display: block;
  margin-bottom: 5px;
  color: #323338;
  font-size: 22px;
  line-height: 16px;
  font-weight: 700;
  text-decoration-style: dashed;
  text-decoration-line: underline;
  text-decoration-color: #323338;
  transition: all 0.2s;
}

.japanese-header-main-contacts__phone:hover,
.japanese-header-main-contacts__phone:focus {
  color: #db001b;
  text-decoration-color: #db001b;
}

.japanese-header-main-contacts__free {
  color: #91a7b3;
  font-size: 11px;
  line-height: 16px;
  font-weight: 500;
}

.japanese-header-main-cart {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.japanese-header-main-cart__link {
  display: flex;
  align-items: center;
  color: #404040;
  font-size: 14px;
}

.japanese-header-main-cart__link:before {
  content: url(../img/icon-cart.svg);
  margin-right: 11px;
}

.japanese-header-main-cart__sum {
  margin-left: 9px;
  font-size: 16px;
  font-weight: 700;
}

.japanese-header-main-cart__sum:after {
  content: '₽';
  font-size: 14px;
}

.japanese-header-main-cart__count {
  margin-right: 11px;
  padding: 5px 7px;
  border-radius: 50%;
  background-color: #db001b;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 28px;
}

/* Поиск */

.japanese-search .tabs {
  display: flex;
  border-radius: 5px;
}

.japanese-search .tabs-title {
  flex: 1 1;
  text-align: center;
}

.japanese-search .tabs-link {
  background-color: #f3f6f8;
  color: #323338;
  font-weight: 500;
  transition: all 0.2s;
}

.tabs-title:not(.is-active):hover .tabs-link {
  background-color: #e4eaed;
  color: #323232;
}

.tabs-title.is-active .tabs-link {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  outline: 0;
  background-color: #323338;
  color: #fff;
}

.tabs-content {
  margin-top: -1px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #323232;
}

.input-group {
  position: relative;
}

.dropdown-input {
  display: flex;
  line-height: 37px;
}

.japanese-search .dropdown-input .gentleselect-label:after {
  margin-left: 10px;
}

.japanese-search .dropdown-brand .gentleselect-label:after {
  margin-left: 55px;
}

.japanese-search .gentleselect-label:after {
  content: url(../img/icon-arrow-menu.png);
  display: inline-block;
  transform: translateY(-2px);
}

.japanese-search .gentleselect-label-highlight {
  background-image: none;
}

.japanese-search-input .gentleselect-dialog {
  max-height: 300px;
  padding: 10px 0;
  border: 1px solid #e4eaed;
  border-radius: 3px;
  box-shadow: none;
  transform: translate(-1px, 5px);
}

.japanese-search-input .gentleselect-dialo li {
  transition: color 0.2s;
}

.dropdown-brand .gentleselect-dialog li,
.japanese-search-input--model .gentleselect-dialog li {
  text-transform: uppercase;
}

.japanese-search-input.japanese-search-input--engine .gentleselect-dialog li:first-child,
.japanese-search-input.japanese-search-input--carcass .gentleselect-dialog li:first-child {
  text-transform: capitalize;
  font-weight: 700;
}

.japanese-search-input .gentleselect-dialog li:hover {
  background-color: #fff;
  color: #1b75cc;
}

.gentleselect-dialog > ul > li.selected {
  background: transparent;
}

.dropdown-brand .gentleselect-dialog li:nth-child(7n + 1) {
  font-weight: 700;
}

.japanese-search-field {
  position: relative;
  min-width: 130px;
  padding-left: 21px;
  background-color: #fff;
  color: #323338;
  font-size: 14px;
  line-height: 37px;
}

.japanese-search-field--checkbox {
  padding-left: 45px;
}

.japanese-search-field input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.japanese-search-field label {
  color: #323338;
  font-size: 14px;
  line-height: 37px;
  transform: translateY(1px);
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 15px;
  height: 25px;
  width: 25px;
  background-color: #eee;
  transform: translateY(-50%);
}

.japanese-search-field:hover input ~ .checkmark {
  background-color: #e8eef1;
}

.japanese-search-field input:checked ~ .checkmark {
  background-color: #db001b;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.japanese-search-field input:checked ~ .checkmark:after {
  display: block;
}

.japanese-search-field .checkmark:after {
  content: '\002714';
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.japanese-search-field::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #323338;
  font-size: 14px;
}
.japanese-search-field::-moz-placeholder { /* Firefox 19+ */
  color: #323338;
  font-size: 14px;
}
.japanese-search-field:-ms-input-placeholder { /* IE 10+ */
  color: #323338;
  font-size: 14px;
}
.japanese-search-field:-moz-placeholder { /* Firefox 18- */
  color: #323338;
  font-size: 14px;
}

.japanese-search .dropdown-pane.dropdown-brand {
  width: 100%;
}

.japanese-search .dropdown-pane.is-open {
  width: 100%;
  border: 0;
  padding: 0;
  margin-top: 5px;
  background-color: transparent;
}

.japanese-search-dropdown__button {
  margin-bottom: 0;
  padding-left: 21px;
  padding-right: 83px;
  border: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #fff;
  color: #323338;
  font-size: 14px;
}

.japanese-search-dropdown {
  display: flex;
}

.japanese-search-dropdown__list {
  flex: 1 1;
  list-style: none;
}

.japanese-search-dropdown__item {
  margin-bottom: 20px;
}

.japanese-search-dropdown__list--popular .japanese-search-dropdown__link {
  font-weight: 700;
}

.japanese-search-dropdown__link {
  color: #404040;
  font-size: 14px;
  text-transform: uppercase;
  transition: color 0.2s;
}

.japanese-search-dropdown__link:hover,
.japanese-search-dropdown__link:focus,
.japanese-search-dropdown__link:active {
  color: #1b75cc;
}

.japanese-search-input {
  border-radius: 0;
  border: 0;
  border-right: 1px solid #e4e4e4;
}

.japanese-search-input:disabled {
  background-color: #fff;
  cursor: default;
}

.japanese-search-input .gentleselect-label {
  border-radius: 0;
  border: 0;
  background-color: #fff;
  font-size: 14px;
}

.japanese-search-input.japanese-search-input--first,
.japanese-search-input.japanese-search-input--first .gentleselect-label {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.japanese-search-input.japanese-search-input--last,
.japanese-search-input.japanese-search-input--last .gentleselect-label {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.japanese-search-detailed__button {
  padding-right: 20px;
  padding-left: 41px;
}

.japanese-search-dropdown__button:hover,
.japanese-search-dropdown__button:focus,
.japanese-search-dropdown__button:active, 
.japanese-search-detailed__button:hover,
.japanese-search-detailed__button:focus,
.japanese-search-detailed__button:active {
  background-color: #fff;
  color: #323338;
}

.japanese-search-detailed__text {
  color: #808080;
  font-size: 11px;
}

.japanese-search-detailed__text:hover {
  color: #323338;
  font-weight: 500;
}

.japanese-search-detailed__button .japanese-search-detailed__text--active {
  display: none;
}

.japanese-search-detailed__button.hover .japanese-search-detailed__text--normal {
  display: none;
}

.japanese-search-detailed__button.hover .japanese-search-detailed__text--active {
  display: inline;
}

.japanese-search-detailed__content {
  position: static;
  left: 0 !important;
  top: 0 !important;
  margin-top: 20px;
}

.button.japanese-search-submit {
  margin-left: 20px;
  border-radius: 3px !important;
  background-color: #fde30c;
  color: #323338;
  font-size: 14px;
  font-weight: 500;
}

.japanese-search__how {
  display: inline-block;
  color: #bfbfbf;
  font-size: 11px;
  transition: color 0.2s;
}

.japanese-search__how:hover {
  color: #fff;
}

/* Товары */

.japanese-goods {
  padding-top: 30px;
}

.japanese-goods-item {
  margin-bottom: 30px;
  overflow: hidden;
}

.japanese-goods-item__text {
  padding: 40px 0;
  font-size: 13.5px;
}

.japanese-goods-item__title {
  display: block;
  margin-bottom: 20px;
}

.japanese-goods-item__link {
  display: block;
  margin-bottom: 15px;
  font-weight: 500;
  text-decoration: none;
  color: #323338;
}

.japanese-goods-item__link:hover {
  color: #db001b;
}

/* Преимущества */

.japanese-benefits {
  padding: 20px 0;
  background-color: #f4d219;
}

.japanese-benefits-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.japanese-benefits-item--parts:before {
  content: url(../img/feature-parts.svg);
  margin-left: -30px;
  margin-right: 15px;
}

.japanese-benefits-item--delivery:before {
  content: url(../img/feature-delivery.svg);
  margin-left: -30px;
  margin-right: 15px;
}

.japanese-benefits-item--warranty:before {
  content: url(../img/feature-warranty.svg);
  margin-left: -30px;
  margin-right: 15px;
}

.japanese-benefits-item__title {
  display: block;
  margin-top: 15px;
  font-size: 18px;
}

/* Секции с каруселью */

.japanese-collection {
  padding: 40px 0;
}

.japanese-collection__heading {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.slick-track {
  display: flex;
  justify-content: space-between;
}

.japanese-collection-item {
  display: flex;
  flex-direction: column;
}

/* Отступы между слайдами */

.slick-slide {
  margin: 0 15px;
}

.slick-list {
  margin: 0 -15px;
}

.japanese-collection-item:hover,
.japanese-collection-item:focus {
  outline: 0;
}

.japanese-collection-item__text {
  padding: 20px 20px 40px;
  font-weight: 500;
  line-height: 16px;
}

.japanese-collection-item__title {
  display: block;
  margin-top: 19px;
  margin-bottom: 12px;
  font-size: 16px;
  text-transform: none;
}

.japanese-collection-item__badge {
  color: #91a7b3;
  font-size: 12px;
}

.japanese-collection-item__link {
  color: #8598a2;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 1px dashed #8598a2;
  transition: color 0.2s;
}

.japanese-collection-item__link:hover {
  color: #db001b;
  border-bottom: none;
}

/* Блок с картой и каталогом */

.japanese-cards {
  padding: 25px 0;
}

.japanese-cards-item__text {
  padding: 55px 0 55px 50px;
}

.japanese-cards-item__title {
  display: block;
  margin-bottom: 20px;
  text-transform: none;
}

.japanese-cards-item__button {
  position: relative;
  top: 20px;
  padding: 12px 19px;
  border: 2px solid #db001b;
  border-radius: 3px;
  color: #db001b;
  font-size: 14px;
  font-weight: 700;
  transition: all 0.2s;
}

.japanese-cards-item__button:hover {
  background-color: #db001b;
  color: #fff;
}

.japanese-cards-item__img {
  height: 100%;
  background-repeat: no-repeat;
  background-position: right center;
}

.japanese-cards-item--card .japanese-cards-item__img {
  background-image: url(../img/card.png);
}

.japanese-cards-item--catalogue  .japanese-cards-item__img {
  background-image: url(../img/catalogue.png);
}

/* Вопросы */

.japanese-questions {
  background-color: #f4d219;
  text-align: center;
}

.japanese-questions__wrapper {
  padding: 40px 0;
}

.japanese-questions__text {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.japanese-questions__button {
  display: inline-block;
  padding: 14px 30px;
  border-radius: 3px;
  background-color: #db001b;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  transition: background-color 0.2s;
}

.japanese-questions__button:hover {
  background-color: #b60118;
  color: #fff;
}

/* Футер */

.japanese-footer {
  padding: 60px 0;
  background-color: #323338;
}

.japanese-footer-menu {
  display: flex;
  justify-content: space-between;
}

.japanese-footer-menu__link,
.japanese-footer-menu__title {
  color: #fff;
}

.japanese-footer-menu__title {
  display: block;
  margin-bottom: 19px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
}

.japanese-footer-menu .japanese-footer-menu__link {
  padding: 0;
  font-size: 14px;
  transition: color 0.2s;
}

.japanese-footer-menu__item:not(:last-of-type) .japanese-footer-menu__link {
  margin-bottom: 17px;
}

.japanese-footer-menu__link:hover,
.japanese-footer-menu__link:focus {
  color: #f4d219;
}

.japanese-footer-menu-social__link,
.japanese-footer-menu-payment__link {
  display: block;
  height: 35px;
  width: 35px;
  margin-right: 5px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.2s;
}

.japanese-footer-menu-social__link--fb {
  background-image: url(../img/fb.svg);
}

.japanese-footer-menu-social__link--fb:hover {
  background-image: url(../img/fb-hover.svg);
}

.japanese-footer-menu-social__link--vk {
  background-image: url(../img/vk.svg);
}

.japanese-footer-menu-social__link--vk:hover {
  background-image: url(../img/vk-hover.svg);
}

.japanese-footer-menu-remarks,
.japanese-footer-menu-payment {
  text-align: right;
}

.japanese-footer-menu-remarks__button {
  display: inline-block;
  padding: 14px 34px;
  border-radius: 3px;
  background-color: #f4d219;;
  color: #323338;
  font-size: 14px;
  font-weight: 700;
  transition: background-color 0.2s;
}

.japanese-footer-menu-remarks__button:hover,
.japanese-footer-menu-remarks__button:focus {
  color: #323338;
  background-color: #fdc70c;
}

.japanese-footer-menu-payment__title {
  display: block;
  margin-top: 42px;
  margin-bottom: 15px;
  color: #fff;
  font-weight: 500;
}

.japanese-footer-menu-payment__item {
  width: 50px;
  height: 40px;
  border-radius: 3px;
  background-color: #fff;
}

.japanese-footer-menu-payment__item:not(:last-of-type) {
  margin-right: 5px;
}

.japanese-footer-menu-payment .japanese-footer-menu-payment__link {
  display: block;
  padding: 14px 6px;
  width: 100%;
  height: 100%;
  background-size: 70%;
}

.japanese-footer-menu-payment__link--visa {
  background-image: url(../img/icon-visa.png)
}

.japanese-footer-menu-payment__link--mastercard {
    background-image: url(../img/icon-mastercard.png)
}

.japanese-footer-menu-payment__link--maestro {
    background-image: url(../img/icon-maestro.png)
}

.japanese-footer-menu-payment__link--qiwi {
    background-image: url(../img/icon-qiwi.png)
}

.japanese-footer-menu-payment__link--world {
    background-image: url(../img/icon-world.png)
}

/* Копирайт */

.japanese-copyright {
  padding: 16px 0;
  background-color: #26272b;
  color: #7c848b;
  font-size: 12px;
}

.japanese-copyright__author {
  display: block;
  text-align: right;
}

.japanese-copyright__author--dashed {
  color: #7c848b;
  border-bottom: 1px dashed #7c848b;
}

@media screen and (min-width: 1170px) {
  .japanese-header-menu__item:nth-of-type(2) .menu {
    min-width: 100%;
    width: 100%;
  }
  .japanese-header-menu__item:nth-of-type(3) .menu {
    width: 205px;
  }
  .japanese-header-menu__item:nth-of-type(4) .menu {
    min-width: 100%;
    width: 165px;
  }
  .japanese-header-menu__item:nth-of-type(5) .menu {
    width: 235px;
  }
  .dropdown.menu.large-horizontal > li.is-dropdown-submenu-parent > a::after {
    display: none;
  }
  .japanese-header-menu__item--border {
    display: flex;
    align-items: center;
  }
  .japanese-header-menu__item--border .gentleselect-label {
    height: 100%;
    border: 0;
    background-color: transparent;
    font-size: 14px;
    line-height: 52px;
  }
  .japanese-header-menu__item--border .gentleselect-label:after {
    content: url(../img/icon-arrow.png);
    margin-left: 10px;
  }
  .japanese-header-menu__item--border .gentleselect-label-highlight {
    background-image: none;
  }
  .japanese-header .japanese-header-menu__item--border .gentleselect-dialog {
    transform: translate(-3px, 4px);
    min-width: 222px;
    box-shadow: none;
    border: 1px solid #e4eaed;
  }
  .japanese-header .japanese-header-menu__item--border .gentleselect-dialog ul {
    background-color: #fff;
  }
  .japanese-header .japanese-header-menu__item--border .gentleselect-dialog li {
    min-width: 100%;
    padding: 20px;
    font-size: 14px;
  }
  .japanese-header .japanese-header-menu__item--border .gentleselect-dialog li.selected {
    background-color: #fff;
    color: #DB001B;
  }
  .japanese-header .japanese-header-menu__item--border .gentleselect-dialog li:hover {
    box-shadow: inset 0px 0px 10px 0px rgba(192, 203, 209, 0.45);
    background-color: #fff;
    color: #DB001B;
  }
  .japanese-goods-item {
    height: 232px;
  }
  .japanese-goods-item__img--engine {
    transform: translateY(10px);
  }
  .japanese-goods-item__text {
    margin-left: -30px;
  }
  .japanese-goods-item__img--carcass {
    transform: scale(2) translate(-30%, 35%);
  }
  .japanese-questions__text {
    margin-right: -70px;
  }
  .japanese-questions__button {
    margin-left: -70px;
  }
  .japanese-footer-menu-social {
    padding-left: 15px;
  }
  .sticky {
    position: static !important;
  }
  .sticky-container {
    z-index: 600;
  }
}

@media screen and (max-width: 768px) {
  .japanese-header-menu .japanese-header-menu__link {
    justify-content: flex-start;
  }
  .japanese-goods-item {
    height: auto;
  }
  .japanese-goods-item__img {
    height: 216px;
  }
  .japanese-goods-item__img:after {
    height: 100%;
    width: 100%;
    margin-top: 0;
  }
  .japanese-goods-item__text {
    padding-left: 25px;
    padding-top: 0;
  }
  .japanese-collection-item__img img {
    width: 100%;
  }
  .japanese-benefits-item--delivery:before {
    margin-left: -45px;
  }
  .japanese-cards-item {
    padding-bottom: 55px;
    background-repeat: no-repeat;
    background-position: calc(100% + 10px) bottom;
  }
  .japanese-cards-item--card {
    background-image: url(../img/card.png);
    background-size: 50% auto;
  }
  .japanese-cards-item--catalogue {
    background-image: url(../img/catalogue.png);
    background-size: 40% auto;
  }
  .japanese-cards-item__text {
    padding-left: 19px;
  }
  .japanese-collection-item__title {
    min-height: 72px;
  }
  .japanese-questions__text {
    display: block;
    margin-bottom: 20px;
  }
  .japanese-footer-menu {
    justify-content: space-around;
  }
  .japanese-footer-menu__divider {
    max-width: 615px;
    margin-top: 25px;
    border-bottom: 1px solid #26272b;
  }
  .japanese-footer-menu__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding-top: 40px;
  }
  .japanese-footer-menu-payment__title {
    margin-top: 0;
  }
  .japanese-footer-menu-remarks {
    text-align: left;
    padding-left: 20px;
  }
  .japanese-footer-menu-payment {
    padding-right: 20px;
  }
  .japanese-footer-menu-social {
    padding-top: 40px;
    padding-left: 60px;
  }
  .japanese-copyright {
    padding: 16px 60px;
  }
  .japanese-search-mobile__wrapper {
    display: flex;
    align-items: center;
    padding: 10px 30px;
    border-radius: 3px;
    background-color: #323338;
    color: #fff;
  }
  .japanese-search-mobile__input {
    padding-left: 30px;
    border: 0;
    outline: 0;
    margin-bottom: 0;
    background: ;
    background-color: transparent;
    background-image: url('../img/icon-search.svg'), url('../img/icon-arrow-white.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: left center, right center;
    color: #fff;
    font-size: 14px;
  }
  .japanese-search-mobile__input:focus {
    border: 0;
    outline: 0;
    background-color: transparent;
    box-shadow: none;
  }
  .japanese-search-mobile__input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 14px;
    color: #fff;
  }
  .japanese-search-mobile__input::-moz-placeholder { /* Firefox 19+ */
    font-size: 14px;
    color: #fff;
  }
  .japanese-search-mobile__input:-ms-input-placeholder { /* IE 10+ */
    font-size: 14px;
    color: #fff;
  }
  .japanese-search-mobile__input:-moz-placeholder { /* Firefox 18- */
    font-size: 14px;
    color: #fff;
  }
  .japanese-collection-item__title {
    min-height: auto;
  }
  .slick-list {
    margin-left: 5px;
  }
  .japanese-collection {
    margin: 0 -10px;
  }
  .sticky.is-stuck {
    margin-top: 0 !important;
  }
}

@media screen and (max-width: 500px) {
  .top-bar .top-bar-right {
    flex-basis: auto;
  }
  .japanese-header-menu__link.japanese-header-menu__link--login {
    padding: 15px 20px;
  }
  .japanese-header-menu__link--login:before {
    margin-right: 0;
    transform: scale(1.5);
  }
  .japanese-header-menu__link--login span {
    display: none;
  }
  .japanese-header-main .japanese-header-main-contacts {
    padding-left: 0;
  }
  .japanese-header-main .japanese-header-main-contacts:before,
  .japanese-header-main-cart__sum:after {
    display: none;
  }
  .japanese-header-main-cart .japanese-header-main-cart__link {
    padding-right: 0;
    margin-right: -5px;
  }
  .japanese-header-main-cart__sum {
    margin-left: 0;
  }
  .japanese-header-main-cart__count {
    margin-right: 35px;
  }
  .japanese-goods-item__img {
    width: 100%;
    height: auto;
  }
  .japanese-goods-item__img--engine,
  .japanese-goods-item__img--transmission {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
  .japanese-cards-item__text {
    padding-bottom: 100px;
  }
  .japanese-copyright {
    padding: 16px 30px; 
  }
  .japanese-footer-menu__wrapper {
    flex-wrap: wrap;
  }
  .japanese-footer-menu-remarks, 
  .japanese-footer-menu-payment,
  .japanese-footer-menu-social,
  .japanese-copyright__company,
  .japanese-copyright__author {
    text-align: center;
    padding: 0;
  }
  .japanese-footer-menu-payment {
    margin: 50px 0;
  }
  .japanese-footer-menu-social .menu {
    justify-content: center;
  }
  .japanese-copyright__company {
    display: block;
    margin-bottom: 5px;
  }
  .japanese-header-main-contacts__phone {
    font-size: 18px;
  }
}

@media screen and (width: 320px) {
  .japanese-header-main-contacts__phone {
    font-size: 16px;
  }
}